body {
    background-color: #120e2b;
    background-image: url(../Assets/signregisterpage.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.signin {
    width: 60%;
    display: flex;
    background-color: #cc2c67;
    margin: 3rem 0 0 20rem;
    padding: 3rem;
    border-radius: 50px;
}
.left {
    padding: 2rem;
    margin-right: 2rem;
    background-color: #f97169;
    border-radius: 50px;
    align-items: center;
    flex: 1;
}
h1 {
    font-size: 2vw;
    font-weight: bold;
}
.right {
    flex: 1;
}
label {
    color: white;
}
.left p {
    color: white;
    text-align: center;
    max-width: auto;
}
.left img {
    display: inline-block;
    border-radius: 25px;
    max-width: 100%;
    margin-bottom: 2rem;
}
.right a {
    text-decoration: none;
    color: white;
}
.right a:hover {
    color: #120e2b;
}
.signin h1 {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
.signin form {
    background-color: #cc2c67;
}
::-webkit-input-placeholder {
    color: #fff;
}
input {
    color: white;
    border-radius: 50px;
    margin: 1rem 0;
    background-color: #f97169;
    outline: none;
    border: 2px solid #fafafa;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.right input[id="question"] {
    width: 100%;
}
ul {
    color: white;
    font-weight: 400;
}
