body {
	background-image: url(../Assets/feedbackBackgroundAlt.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.form {
	max-width: 50%;
	margin: 10rem auto 0 auto;
}
.feedback {
	align-items: center;
	border-radius: 50px;
}
input[type="text"] {
	background-color: #d3d3d3;
	color: black;
	width: 50%;
	margin: 1% auto 5% auto;
	border: none;
}
input[type="email"] {
	background-color: #d3d3d3;
	width: 50%;
	margin: 1% auto 5% auto;
	border: none;
}
input[type="submit"] {
	background-color: #cc2c67;
	width: 25%;
	margin: 1% auto 5% auto;
}
input::placeholder {
	text-align: center;
}
label {
	width: 100%;
	color: whitesmoke;
}
textarea {
	background-color: #d3d3d3;
	margin: 1% auto 0 auto;
	width: 75%;
	box-shadow: none;
	border: none;
}
form {
	background: linear-gradient(to bottom right, #cc2c67, #f97169);
	border-radius: 5%;
}
