.feedback {
	max-width: 75%;
}
body {
	background-image: url(../Assets/feedbackBackground.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.contact {
	display: flex;
	min-width: 80vh;
	min-height: 80vh;
	padding-top: 8%;
}
.contactimage {
	min-height: 15vh;
	flex: 1;
	margin: auto 0 auto 0;
}
.form {
	min-height: 30vh;
	flex: 1;
	margin: 0 0 auto 0;
}
.feedback {
	max-width: 75%;
	margin: 5% 10% 10% 10%;
}
input[type="text"] {
	background-color: #d3d3d3;
	color: black;
	width: 50%;
	margin: 1% auto 5% auto;
	border: none;
}
input[type="email"] {
	background-color: #d3d3d3;
	width: 50%;
	margin: 1% auto 5% auto;
	border: none;
}
input[type="submit"] {
	background-color: rgb(144, 144, 221);
	width: 25%;
	margin: 1% auto 5% auto;
}
input::placeholder {
	text-align: center;
}
label {
	width: 100%;
	color: whitesmoke;
}
textarea {
	background-color: #d3d3d3;
	margin: 1% auto 0 auto;
	width: 75%;
	box-shadow: none;
	border: none;
}
form {
	background: linear-gradient(to bottom right, #0018a8, #ccccff);
	border-radius: 5%;
}
