h1,
h2,
h3 {
	color: white;
	padding: 0 10% 0 10%;
}
p {
	color: rgb(233, 233, 194);
	font-size: large;
	padding: 0 10% 0 10%;
	margin: 2% 0 2% 0;
}
.division1 {
	background-color: #120e2b;
	padding-top: 10%;
}
.division2 {
	background-color: #c62368;
	padding-bottom: 3%;
}
.button {
	color: white;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	background-color: #c62368;
	border-radius: 20px;
	margin-bottom: 4px;
}
.button:hover {
	animation-name: button-hover;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes button-hover {
	100% {
		border-color: #fa7268;
		background-color: #fa7268;
	}
}
.cardscontainer {
	display: flex;
	max-width: 80rem;
	margin: 0 auto 0 auto;
}
.cards {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	background-color: #eb5967;
	min-width: 25rem;
	min-height: 35rem;
	border-radius: 50px;
	justify-content: space-between;
	box-shadow: 2px 2px 20px #020520;
}
.cards:hover {
	animation-name: cards-hover;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes cards-hover {
	100% {
		background-color: #fa7268;
		transform: scale(1.03);
	}
}
