h1,
h2,
h3 {
    color: white;
    padding: 0 10% 0 10%;
    font: bold;
}
h3 {
    margin: 2% 0 2% 0;
}
p {
    color: rgb(233, 233, 194);
    font-size: 1.2vw;
    padding: 0 10% 0 10%;
    margin: 2% 0 2% 0;
}
.pagecontainer ul {
    padding: 0 10% 0 10%;
    font-size: 1.2vw;
    color: #fa7268;
    cursor: pointer;
}
a {
    font-size: 1.2vw;
    color: #fa7268;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: rgb(233, 233, 194);
}
.division1 {
    padding-top: 150px;
    height: 100vh;
    background-color: #120e2b;
}
.container2 {
    background-color: #c62368;
}

.gradient-text {
    text-align: center;
    font-size: max(3.5vw, 35px);
    background: linear-gradient(to right, #a200ff, #fa7268);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: 100vw;
    font-weight: 800;
}
.pagecontainer {
    display: flex;
    flex-direction: column;
}
#img1 {
    width: 40%;
    margin: 0 auto;
    display: block;
}
#section2 {
    position: relative;
}
#section5 {
    position: relative;
}
#img2 {
    position: absolute;
    width: 10%;
    z-index: 10;
    right: 0;
    animation-name: virusanimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
#img4 {
    position: absolute;
    width: 15%;
    z-index: 10;
    right: 0;
}
.pagination {
    display: inline-block;
    text-align: center;
}

.pagination a {
    color: hsl(0, 0%, 100%);
    padding: 8px 16px;
    text-decoration: none;
    background-color: #120e2b;
    border-radius: 10px;
}

.pagination a.active {
    background-color: #a200ff;
    color: white;
}

.pagination a:hover:not(.active) {
    animation-name: pagination-hover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes pagination-hover {
    100% {
        background-color: #fa7268;
    }
}

.pagination .disabled {
    color: #ffffff;
    pointer-events: none;
}
.pagination-container {
    display: flex;
    width: 100vw;
    height: 100px;
    background-color: #c62368;
    flex-direction: column;
    justify-content: center;
}
@keyframes virusanimation {
    33% {
        transform: rotate(10deg);
    }
    44% {
        transform: rotate(-20deg);
    }
    55% {
        transform: rotate(15deg);
    }
    66% {
        transform: rotate(-10deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
iframe {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
