.navbar {
	background: linear-gradient(to bottom right, #0b2833, #123845);
}
.navlink {
	padding: 0;
	margin: 0;
}
.navicon {
	padding: 0;
	margin: 0;
	max-width: 52rem;
	border-radius: 50px;
	align-items: center;
	background-color: #278184;
}

.navicon:hover {
	transition: 0.5s;
	background-color: #ef7e1e;
}

.navicon p {
	display: inline-block;
	padding: 0;
	margin: 0;
	color: white;
	align-items: center;
}
