.input_cont {
	display: flex;
	flex-direction: row;
	align-items: center;
}

h3 {
	background: rgb(255, 255, 255);
	border-radius: 15px;
	position: relative;
	top: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 50vw;
	font-family: sans-serif;
	font-size: 25px;
	color: #1ba2d2;
	padding: 5px;
	text-align: center;
}
label {
	font-size: 18px;
	color: aliceblue;
}
form div {
	padding-top: 2rem;
}
form li {
	padding: 2rem;
	width: 75%;
	border-radius: 50px;
	margin: 2rem auto 2rem auto;
	background-color: #eb5967;
}
body {
	background-color: #120e2b;
}
form ol {
	list-style: none;
}
.form_bg {
	display: flex;
	width: 60vw;
	flex-direction: column;
}

.page_container {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

h1 {
	font-size: 70px;
	font-family: sans-serif;
}
form {
	margin-top: 10rem;
}
