* {
	box-sizing: border-box;
}
body {
	background-color: #120e2b;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.quiz-container {
	background-color: #cc2c67;
	border-radius: 50px;
	display: block;
	margin: 5rem auto 2rem auto;
	width: 60%;
	padding: 2rem;
	overflow: hidden;
}
.quiz-header {
	padding: 2rem 0;
}
h2 {
	padding: 1rem;
	text-align: center;
	margin: 0;
	color: aliceblue;
}
ul {
	list-style-type: none;
	padding: 0;
	color: aliceblue;
}
ul li {
	font-size: 1.2rem;
	margin: 1rem 0;
}
ul li label {
	cursor: pointer;
}
.button p {
	margin: 0;
	padding-bottom: 5%;
}
.button {
	color: white;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	display: block;
	margin: 1rem auto;
	padding: 1rem 3rem;
	background-color: #fa7268;
	border-radius: 20px;
}
.button:hover {
	animation-name: button-hover;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes button-hover {
	100% {
		border-color: #fa7268;
		background-color: #a200ff;
	}
}
.button:focus {
	outline: none;
}
