body {
	background-color: #120e2b;
}
.title {
	margin: 10rem auto 5rem auto;
	align-items: center;
}
h1 {
	text-align: center;
	color: aliceblue;
}
p,
h5 {
	color: aliceblue;
}
.content {
	display: flex;
	flex-wrap: wrap;
	padding: 0 5rem;
	overflow-y: unset;
	justify-content: space-between;
}
.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #cc2c67;
	border-radius: 50px;
	width: 270px;
	margin: 2rem;
	overflow: hidden;
	height: 400px;
}
#rating {
	padding: 1rem;
	border-radius: 10px;
	display: inline-block;
	background-color: #f97169;
}
h5 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.image-container {
	height: 40%;
	width: 100%;
	overflow: hidden;
}
#card-img {
	height: 22vh;
	width: 100%;
	object-fit: cover;
}
.intro {
	position: absolute;
	width: 270px;
	height: 0px;
	font-size: medium;
	box-sizing: border-box;
	background: rgb(27, 27, 27, 0.9);
	color: white;
	border-radius: 50px;
	transition: 0.5s;
	backdrop-filter: blur(10px);
}
.card:hover {
	cursor: pointer;
}
.intro p {
	visibility: hidden;
	opacity: 0;
}
.cards:hover .intro {
	height: 400px;
	padding: 2rem;
}
.cards:hover .intro p {
	opacity: 1;
	visibility: visible;
}
