body {
	background-color: #120e2b;
}
.title {
	margin: 10rem auto 5rem auto;
	align-items: center;
}
h1 {
	text-align: center;
	color: aliceblue;
}
p,
h5 {
	color: aliceblue;
}
.content {
	display: flex;
	flex-wrap: wrap;
	padding: 0 5rem;
	overflow-y: unset;
}
.cards {
	background-color: #cc2c67;
	border-radius: 50px;
	width: 20%;
	padding: 5rem;
	margin: 2rem;
}
.cards p {
	padding: 1rem;
	border-radius: 10px;
	display: inline-block;
	background-color: #f97169;
}
