body {
	background-color: #120e2b;
}

h1 {
	color: white;
	padding: 1rem 0;
	text-align: center;
}

img {
	margin: auto;
	display: block;
}

.thank {
	align-content: center;
	display: block;
	margin: auto;
	margin-top: 10rem;
	max-width: 50%;
	background-color: #cc2c67;
	border-radius: 50px;
}
